* {
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica;
}

/* Navigation Bar */
.nav-bar {
    height: 60px;
    color: white;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* 1. Logo Field */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    cursor: pointer;
}

/* 2. Address Field */
.add-msg {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-fixed {
    font-size: 0.85rem;
    margin-left: 3px;
    font-weight: 700;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* 3. Search Field */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 640px;
    border-radius: 7px;
    border: 2.5px solid transparent;
}

.nav-search:hover {
    border-color: #ff8a04;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input {
    width: 100%;
    font-size: 0.95rem;
    border: none;
    padding-left: 8px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* 4. Language Field */
.nav-lang {
    cursor: pointer;
}

.flag-icon {
    width: 30px;
    height: 30px;
    background-image: url("../images/usa.png");
    background-size: cover;
}

/* 5. Account & Order Returns Field */
.secondary-border {
    padding: 10px 5px 6px 5px;
    border: 1.5px solid transparent;
}

.secondary-border:hover {
    cursor: pointer;
    border-color: white;
}

span {
    font-size: 0.75rem;
}

.nav-details {
    font-size: 0.85rem;
    font-weight: 700;
}

/* 6. Cart Field */
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}

.nav-cart i {
    font-size: 30px;
}

/* Panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    font-size: 0.9rem;
    font-weight: 700;
}

.panel-options {
    width: 75%;
    font-size: 0.85rem;
}

.panel-options p {
    display: inline;
    padding: 8px 9px 8px 9px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Main Section */

.hero-section {
    height: 400px;
    background-image: url("../images/main.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 550;
    margin-bottom: 100px;
}

.hero-msg a,
.link {
    color: #007185;
    text-decoration: none;
}

/* Shop Section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.structure {
    margin-top: -60px;
}

.box-img {
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    font-size: 0.85rem;
}

#box1 {
    background-image: url('../images/box1.jpg');
}

#box2 {
    background-image: url('../images/box2.jpg');
}

#box3 {
    background-image: url('../images/box3.jpg');
}

#box4 {
    background-image: url('../images/box4.jpg');
}

#box5 {
    background-image: url('../images/box5.jpg');
}

#box6 {
    background-image: url('../images/box6.jpg');
}

#box7 {
    background-image: url('../images/box7.jpg');
}

#box8 {
    background-image: url('../images/box8.jpg');
}

/* Footer */

footer {
    margin-top: 20px;
}

.foot-panel1 {
    background-color: #37475a;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}

.foot-panel1:hover {
    cursor: pointer;
    background-color: rgba(55, 71, 90, 0.95);
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul p {
    font-weight: 550;
    margin: 40px 0px 14px 0px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid #8b8b8b;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-plus {
    width: 100px;
    cursor: pointer;
}

.foot-lang {
    padding: 8px 14px 8px 12px;
    border: 1px solid #dddddd;
    color: #dddddd;
    cursor: pointer;
    font-size: 0.85rem;
    margin-left: 20px;
    border-radius: 4px;
}

.foot-lang i {
    margin-right: 08px;
    font-size: 0.95rem;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}

.pages {
    padding: 20px 0px 10px;
}

.pages a {
    margin-right: 10px;
}

.pages a:hover {
    text-decoration: underline;
    cursor: pointer;
}